html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #eceef1;
	font-family: monospace;
}

.container {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 20px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	color: #2d72d9;
	width: 100%;
	text-align: center;
}

p {
	width: 100%;
	text-align: center;
}

.container {
	padding-top: 5em;
}

fieldset {
	border: none;
}

.field {
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
}

input {
	height: 40px;
	border: none;
	border-radius: 3px;
	padding-left: 6px;
	font-size: 16px;
	width: 80px;
	margin-right: 10px;
}

button {
	height: 40px;
	background-color: #40b771;
	border: none;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}

#resposta {
	margin: 30px 0;
	width: 100%;
	text-align: center;
}
